# For local development only

# Redis Pub/Sub URI
REDIS_URL=REPLACE_WITH_REDIS_URI

# URL for the control server
CONTROL_SERVER_URL=REPLACE_WITH_CONTROL_SERVER_URL

# API Key & Secret for this test runner
API_KEY=REPLACE_WITH_RUNNER_API_KEY
API_SECRET=REPLACE_WITH_RUNNER_API_SECRET

# Interval to send heartbeat to control server in seconds
HEARTBEAT_INTERVAL=REPLACE_WITH_HEARTBEAT_INTERVAL

# Runner name
RUNNER_NAME=REPLACE_WITH_RUNNER_NAME

